@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: fffafb;
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
  margin: 10px 0;
}
p {
  font-size: 18px;
  margin: 10px 0;
}
span {
  font-size: 15px;
  margin: 5px 0;
}
section#accomodation,
section#schedule,
section#registry {
  padding: 30px 20px;
}
section#registry {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.white-text {
  color: #fffafb;
}
.text-center {
  text-align: center;
}
.boldFont {
  font-weight: bold;
}
.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  margin: auto;
}
.navbar a {
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fffafb;
  text-transform: uppercase;
}
.home-page {
  position: relative;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-page .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("Rings.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
  z-index: 0;
}
#schedule,
#accommodation {
  position: relative;
  z-index: 1;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#schedule .background,
#accommodation .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("backdrop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1) opacity(40%);
  z-index: -1;
}
.hero-text {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.accommodation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 20%;
  padding: 12px;
  border-radius: 13px;
  margin: 5px 10px;
  align-items: center;
}
a.select-property {
  background: #dbc283;
  width: 75%;
  padding: 8px;
  color: #fffafb;
  font-size: 15px;
  border: 1px solid #fffafb;
  border-radius: 15px;
  text-align: center;
  margin-top: auto;
}
a.registry-link {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: underline;
  color: black;
  font-size: 18px;
}
.registry-container {
  padding: 30px 0;
}
.white-wedding,
.traditional-wedding {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
.trad-details-container {
  text-align: center;
}

.wedding-card {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0;
  padding: 0 15px;
}
.details-container {
  display: flex;
  flex-direction: row;
}
.accommodation-text,
.registry-text {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .home-page {
    height: 500px;
  }
  header {
    margin: 0;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
  .navbar a {
    font-size: 16px;
  }
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: center;
  }
  .accommodation-container {
    flex-wrap: wrap;
  }
  section#accomodation,
  section#schedule {
    padding: 5px 10px;
  }
  section#accommodation {
    min-height: 992px;
  }
  .wedding-card {
    width: 100%;
  }
  .details-container {
    display: flex;
    flex-direction: column;
  }
}
